@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
.list{
    display: flex;
    justify-content: space-around;
    div{
        margin-top: 50px;
        width: 800px;
        height: 500px;
        display: none;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
.button{
    width: 120px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    border-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 5px 5px white;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: "Archivo Black", sans-serif;
}
.display{
    display: block !important;
}